header{
    grid-area: head;
}

nav{
    grid-area: nav;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: "head head"
        "nav aside"
        "nav main"
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 50px 1fr 30px;
}
