* {
    background-color: #222;
    color: #ddd;
}

body {
    text-align: center;
}

nav {
    text-align: left;
    border: 2px solid blue;
}

aside {
    text-transform: uppercase;
    border: 1px solid red;
}

header, footer {
    text-transform: uppercase;
}

section {
    border: 2px dashed red;
}
