* {
    background-color: #222;
    color: #ddd;
}

body {
    text-align: center;
}

nav {
    text-align: left;
    border: 2px solid blue;
}

header, footer {
    text-transform: uppercase;
}

section {
    border: 2px dashed red;
}

/* #image{
    background: url("https://resize.hswstatic.com/w_907/gif/rabbits-crazy-march-1a.jpg");
    background-size: cover;
    background-position: -50px;
} */
